<br><br>
<form (ngSubmit)='changeBackend()' #changeBackend="ngForm">
  <div class="grid2 col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <label for='backend'>Backend:</label>
    <select
      name = "backend"
      type = "text" 
      [(ngModel)] = "backend"
      id = "backend" 
      class = "form-control">
      <option *ngFor = "let framework of backends">{{framework}}</option>
    </select>    
    <div></div>
    <button class="btn btn-primary"><strong>Change Backend</strong></button>
  </div>
</form>  
<br><br><br><br><br>
<pre class="code">
<div *ngIf="dateTimeFields">using System;</div>
namespace {{"<"}}YourAppName>.{{"<"}}YourModelFolder>
{{"{"}}
    public class {{modelServ.modelName}}
    {{"{"}}<div *ngFor="let field of modelServ.fields"><div *ngIf="field.fieldType == 'String'">
        public string {{field.fieldName}} {{"{"}} get; set; }</div><div *ngIf="field.fieldType == 'Integer'">
        public int {{field.fieldName}} {{"{"}} get; set; }</div><div *ngIf="field.fieldType == 'Boolean'">
        public bool {{field.fieldName}} {{"{"}} get; set; }</div><div *ngIf="field.fieldType == 'DateTime'">
        public DateTime {{field.fieldName}} {{"{"}} get; set; }</div></div>
    }
}
</pre>